}
table {
    margin: 5px;
    
}

.table {
    margin: 20px;
    
}

.td {
    border: 1px;
    color: #6600ff;
    padding: 8px 12px;
    text-align: center;
}

.th {
    background-color: #66ff66;
}
.color {color: #6600ff }
}
